:root {
  --red: #ca1016;
}
.active-heart{
  font-weight: bold !important;
  color: red !important;
}
.active-credit-btn{
  border: 1px solid #ca1016 !important;
  background: #ffe6e5 !important;
}
#mobile-logo {
  display: flex;
  justify-content: space-between;
  padding: 17px;
  align-items: center;
}

#plus {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: url('../img/plus.svg') center/cover no-repeat;
}

#h1-red {
  color: var(--red) !important;
}

#mobile-logo h1 {
  color: #8d94ad;
  font-size: 1.125em;
  text-transform: uppercase;
  font-weight: 600;
}

.select {
  height: 54px;
  border-radius: 13px;
  background: #fff;
  padding: 15px;
  margin: 2px 0;
  position: relative;
}

#selects {
  box-shadow: 0 4px 21px 2px rgba(0, 0, 0, 0.04);
  padding: 8px 15px 15px;
  background: #F6F6F8FF;
}

.select img {
  width: 20px;
}

#moto {
  margin-top: 12px;
}

.select i {
  position: absolute;
  right: 30px;
  color: #B1B5C7FF;
  font-size: 1.2em;
}

.select span {
  font-size: .98em;
  color: #212c3a;
  padding-left: 5px;
}

#elan {
  font-size: 1em;
  margin: 15px 5px;
}

#elan a {
  color: #4c88f9;
}

#adds {
  width: 100%;
}

#adds img {
  width: 100%;
  object-fit: cover;
}

#links {
  padding: 7px 5px;
}

#links a {
  margin: 0 8px;
  font-size: 1em;
  color: #212c3a;
  border-bottom: solid 1px #b1b5c7;
}

main h3 {
  color: #8d94ad;
  font-size: .8em;
  font-weight: 500;
  text-transform: uppercase;
  padding: 30px 12px;
}

.card-img img {
  width: 100%;
  max-height: 15vh;
  object-fit: cover;
}

.card i {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.3em;
  color: #fff;
}

.card {
  position: relative;
  width: 48%;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0 17px 34px 0 rgba(44, 39, 56, 0.04), 0 8px 17px 0 rgba(44, 39, 56, 0.02);
  border-radius: 7px;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  gap: 10px;
}

.price {
  font-weight: bold !important;
  font-size: .93em !important;
  padding-top: 10px !important;
}

#cards p {
  padding: 3px 10px;
  font-size: .875em;
  font-weight: 500;
}

#cards span {
  font-weight: 400;
  padding: 3px 10px 15px 10px;
  display: block;
  color: #8d94ad;
  font-size: .75em;
}

#menu {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  background: #fff;
  padding: 10px 0;
}

#menu i {
  margin: 0 30px;
  font-size: 1.4em;
}

#menu i,
.filter-header i {
  color: #8d94ad;
}

#menu p {
  margin: 5px;
  font-size: .6rem;
  text-align: center;
  text-transform: uppercase;
}

#new img {
  width: 45px;
  position: absolute;
  bottom: 60%;
  margin-left: 7px;
  z-index: 99999;
}

footer {
  background-color: #f6f7fa;
}

#new-p {
  padding-top: 25px;
}

#sec1 a {
  display: block;
  margin: 10px 5px;
}

#sec2 p,
#sec1 a,
#number,
#sec3 a {
  font-size: .9em;
  color: #212c3a;
}

#number {
  font-weight: bold;
  margin: 5px 0;
}

#sec1,
#sec2,
#sec3 {
  padding: 20px 10px;
  border-bottom: solid 1px #eceff6;
}

#sec3 {
  padding-bottom: 11vh;
}

#sec2 span {
  margin: 8px 0;
  font-size: .75em;
  color: #8d94ad;
}

#footer-icons {
  display: flex;
  gap: 25px;
  margin: 20px 5px;
}

.icon {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #eceff6;
}

.icon i {
  color: #8d94ad;
  padding: 12px;
  font-size: 1.3em;
}

#sec3 span {
  display: block;
  margin-top: 20px;
  font-size: 12px;
  color: #8d94ad;
}

.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.filter-header h2 {
  font-size: 1em;
  color: #212c3a;
  font-weight: 500;
}

.filter-header span {
  padding: 10px;
  font-size: .9em;
  color: #ca1016;
  opacity: 0.5;
}

.padding-header {
  padding: 10px;
}

.filter-header p,
#mark-and-model h5,
.marks p {
  color: #8d94ad;
  font-size: .9em;
  font-weight: normal;
}

#marks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
}

.bg-gray {
  height: 10px;
  background-color: #f6f7fa;
}

.btn-group {
  background-color: #f6f7fa;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

#mark-and-model {
  padding: 10px;
}

#marks img {
  max-width: 40px;
  object-fit: cover;
  margin: 10px 20px;
}

.mark1 p {
  font-size: .7em;
  height: 12px;
  color: #8d94ad;
}

.butun-markalar {
  border: 1px solid var(--red);
  color: var(--red);
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  height: 50px;
  width: 90%;
  font-size: .9em;
}

.btn {
  text-align: center;
}

.btns {
  font-size: .8;
  color: #8d94ad;
  padding: 10px 0;
  text-align: center;
  background-color: #fff;
  border: 1px solid #f1f3f7;
  padding: 10px 35px;
}

.border-left {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  background-color: var(--red);
  color: #fff;
}

.border-right {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.filter-bottom {
  padding: 20px 0;
  border-bottom: 1px solid #f1f3f7;
}

#filter-inputs {
  padding: 0 15px;
}

#filters-none {
  display: none;
}

.inputs {
  display: initial;
}

.inputs input {
  border-bottom: 1px solid #f1f3f7 !important;
  border: 0;
  outline: none;
  padding-left: 8px;
}

.inputs p {
  padding: 8px;
  margin: 10px 0;
}

.inputs {
  font-size: 1rem;
}

::placeholder {
  color: #8d94ad;
  font-size: 1.2em;
}

.btn-groups p {
  padding: 15px;
  font-size: .9em;
  display: inline-block;
  color: #8d94ad;
}

.btn-groups span {
  background: #77c81d;
  border-radius: 50px;
  padding: 2px 4px;
  color: #fff;
  display: inline-block;
  font-size: .75em;
}

.btn-groups button {
  margin-right: 7px;
  margin-bottom: 10px;
}

.btn-groups button,
.btn-groups ul li,
.btn-group button {
  padding: 10px;
  border: 1px solid #dfe3e9;
  background-color: #fff;
  font-size: 1em;
  color: gray;
}

.btn-groups ul li,
.btn-groups button {
  border-radius: 7px;
}

.btn-groups ul li {
  display: inline-block;
}

.btn-groups ul {
  padding: 0 13px;
}

.btn-groups-btns {
  margin-left: 10px;
}

.checkboxs li {
  margin: 5px;
}

.btn-groups h6 {
  color: #212c3a;
  font-size: .9em;
  font-weight: normal;
  padding: 15px 5px 0 15px;
}

.axtar-btn button {
  background: var(--red);
  color: #fff;
  height: 50px;
  border-radius: 7px;
  border: 0;
  width: 90%;
  margin: 20px 0;
  font-size: 1em;
}

.axtar-btn {
  text-align: center;
  background: #f6f7fa;
}

.search input,
.search i {
  border: 1px solid #f6f7fa;
  background-color: #f6f7fa;
}

.search input {
  padding: 0 10px 0 36px;
  width: 90%;
  height: 40px;
  border-radius: 7px;
  position: relative;
  outline: none;
}

.search i {
  color: #8d94ad;
  position: absolute;
  bottom: 90%;
  left: 30px;
  z-index: 99999999999;
}

.search {
  text-align: center;
}

.mark-header {
  padding: 20px;
}

.marks p {
  padding: 10px;
}

.marks img {
  max-width: 40px;
  object-fit: contain;
}

.mark {
  display: flex;
  margin: 10px 0;
  padding: 15px 0;
  border-bottom: 1px solid #e2e3e4;
}

.marks {
  padding: 20px;
}

.marks-js {
  display: block !important;
}

#mark-none,
#desktop-nav,
#desktop-footer {
  display: none;
}

#kabinet {
  height: 100vh;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

#kabinet-main img {
  width: 170px;
}

#kabinet-main p {
  margin: 18px 0;
  font-size: 1em;
  color: #818c9d;
}

#kabinet-main button {
  background-color: #4b8af9;
  color: #fff;
}

#kabinet-main button,
#kabinet-main a {
  border: 1px solid #4b8af9;
  width: 70%;
  margin: 10px 0;
  border-radius: 4px;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  padding: 13px;
}

#kabinet-main a {
  margin: auto;
  display: block;
  color: #4b8af9;
}

#kabinet-footer p,
#kabinet-footer a {
  color: #a6abb4;
  font-size: .75rem;
  width: 80%;
  margin: auto;
}

.icon-kabinet {
  color: #a6abb4;
  margin-left: 80%;
}

#daha-cox {
  display: none;
}

#daha-cox h6 {
  padding: 19px;
  font-size: 1em;
  text-align: center;
  color: #212c3a;
}

.bg-white a {
  display: block;
  padding: 19px 15px;
  font-size: 1em;
  color: #212c3a;
}

.border {
  border-bottom: 1px solid #eff0f1;
}

@media only screen and (min-width: 768px) {
  .container {
      width: 65%;
      margin: auto;
  }

  #desktop-nav,
  #desktop-footer, .main-search {
      display: initial;
  }

  #mobile-nav,
  #links,
  #mobile-footer,
  #menu {
      display: none !important;
  }

  .card {
      width: 23%;
  }

  .card img {
      min-height: 20vh;
  }
  #oturucu{
      margin-top: 15px;
  }
  #nav1 {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
  }

  .df {
      display: flex;
  }

  .txtgray {
      color: #808080b3;
  }

  .p10 {
      padding: 10px 0;
  }

  .p20 {
      padding: 20px 0;
  }

  .navbar .nav-buttom .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .navbar {
      padding: 10px 0;
  }

  #black,
  .down a {
      color: #000 !important
  }

  .buttom-left {
      display: flex;
      gap: 2vw;
      align-items: center;
  }

  .buttom-left ul,
  .buttom-right ul,
  .top-left ul,
  .top-right ul {
      display: flex;
      gap: 1.5vw;
  }

  .buttom-left ul li a:hover {
      color: #dbd8d8
  }

  .down {
      display: none;
      position: absolute;
      background: #fff;
      border-radius: 10px;
      box-shadow: #959da533 0px 8px 24px;
      padding: 15px;
  }

  .down p {
      margin: 10px 0
  }

  #drp:hover .down {
      z-index: 999999;
      display: block
  }

  .buttom-left a,
  .buttom-right a,
  .logo,
  .buttom-right button {
      color: #fff
  }

  .top-right ul li a:hover,
  .heart:hover,
  .user:hover,
  .user a:hover,
  .heart a:hover {
      color: #CA1016;
  }

  .logo {
      font-size: 1.2em
  }

  .top-left a,
  .top-right a,
  .top-right {
      color: gray
  }

  .top-right {
      display: flex;
      gap: 1vw;
  }

  .nav-buttom {
      background-color: #CA1016;
      padding: 11px 0;
  }

  .buttom-right button {
      background-color: #7FCE22;
      padding: 10px;
      border-radius: 7px;
      border: none;
      cursor: pointer;
  }

  .buttom-right span {
      font-size: .9em;
      border-radius: 50%;
      border: 2px solid #fff;
      padding: 0px 2px;
      margin-right: 5px;
  }

  .main-search {
      padding: 20px 0;
      background: #ebedf39d;
  }

  .main-search .container,
  .hidden-inp {
      flex-direction: column;
      gap: 10px;
  }

  .inp-top {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: .7vw;
  }

  .inp-top select,
  .inp-top input,
  .form3 select,
  .form3 input {
      color: gray;
      width: 18vw;
      border: 1px solid #dbd8d8;
      border-radius: 8px;
      padding: 15px 8px;
      font-size: .9em;
  }

  .btn-group button {
      padding: 15px;
  }

  .btn-group button:first-child,
  .couple-inp input:first-child,
  .slc-group select:first-child {
      border-radius: 8px 0 0 8px
  }

  .btn-group button:last-child,
  .couple-inp input:last-child,
  .slc-group select:last-child {
      border-radius: 0 8px 8px 0
  }

  .activate,
  .end-right button {
      background-color: #CA1016 !important;
      color: #fff !important;
  }

  .vlt-group {
      gap: 1vw
  }

  .vlt-group button {
      background: #fff;
      border: 1px solid #dbd8d8;
      border-radius: 8px;
      padding: 10px;
  }

  #valyuta {
      width: 5.5vw;
      color: #000;
  }

  #textA {
      cursor: pointer
  }

  .couple-inp input,
  .slc-group select {
      width: 7.5vw;
      outline: none;
  }

  .hidden-inp {
      display: none
  }

  .hidden-inp .couple-inp input,
  .hidden-inp .slc-group select {
      width: 10.6vw;
  }

  .hidden-inp .vlt-group button {
      padding: 17px
  }

  .hidden-inp .vlt-group {
      justify-content: start;
  }

  .checkboxs button {
      margin: 6px 6px 6px 0;
  }

  .mi-end {
      display: flex;
      justify-content: space-between;
      padding: 15px 0;
      align-items: center;
  }

  .mi-end a {
      color: #0b0bce
  }

  .end-right {
      gap: 2.5vw;
      align-items: center;
  }

  .end-right span {
      color: gray;
      cursor: pointer;
  }

  .end-right a:nth-child(2) {
      color: #CA1016
  }

  .end-right button {
      border: 0;
      border-radius: 8px;
      padding: 12px;
      width: 16vw;
      font-size: .93em;
  }

  .premium-elanlar {
      font-size: 1.1em;
      color: #212c3a;
      font-weight: 700;
  }

  h4 {
      background: #f1f3f749;
      padding: 17px;
  }

  .yenielan {
      display: none;
      font-family: sans-serif;
      font-size: .9em;
  }

  .yenielan ul {
      list-style: disc;
      padding: 15px 40px;
  }

  .yenielan ul li {
      margin: 5px 0;
  }

  .yenielan h3 {
      background: #F1F3F7;
      padding: 20px 35px;
  }

  .product {
      display: flex;
      align-items: center;
      gap: 5vw;
      padding: 10px 25px;
  }

  .product span,
  .form3 span {
      color: #CA1016;
  }

  .product label,
  .form3 label {
      width: 150px;
      display: inline-block;
  }

  .product select {
      width: 280px;
      border: 1px solid #dbd8d8;
      border-radius: 8px;
      padding: 8px;
      font-size: .9em;
  }

  .product input[type=text] {
      width: 110px;
      outline: none;
      border: 1px solid #dbd8d8;
      border-radius: 8px;
      padding: 8px
  }

  input[type='radio'] {
      accent-color: red;
      width: 20px;
  }

  .product2,
  .heart,
  .user {
      gap: 5px
  }

  .product2 p {
      font-size: .84em;
      color: gray;
      padding: 5px 20px;
  }

  #pr-inside input[type='radio'] {
      width: 62px !important
  }

  .product textarea {
      width: 755px;
      height: 100px;
      border-radius: 8px;
      border: 1px solid #dbd8d8;
  }

  .avto-checks span {
      width: 23%;
      display: inline-block;
      margin: 20px 5px 0 5px;
  }

  .list ul li {
      color: #80808094;
      margin: 20px 0;
  }

  .form3 select,
  .form3 input {
      padding: 10px;
      margin: 10px 0;
  }

  .form3 button {
      margin-left: 155px;
      width: 18vw;
      margin-top: 10px;
  }

  footer {
      background: #F1F3F7;
  }

  footer .ft-top,
  .ft-end span {
      display: flex;
      justify-content: space-between;
  }

  .ft-top div {
      gap: 30px;
      font-size: 1em;
  }

  .ft-top i {
      font-size: 1.2em;
      color: #8D94AD;
  }

  .ft-top a:hover,
  .ft-top i:hover,
  .ft-bottom a:hover,
  .footermarkalar a:hover {
      color: #CA1016;
  }

  .ft-bottom a {
      font-size: .85em;
      color: black;
      margin: 20px 30px 0 0;
  }

  hr {
      border-color: #f1f3f741;
  }

  .footermarkalar span a {
      width: 200px;
      display: inline-block;
      color: gray;
      font-size: .85em;
      margin: 5px 0;
  }

  .ft-end {
      background: #CA1016;
      color: #fff;
      font-size: .85em;
  }

  .ft-end a {
      color: #fff;
      margin-left: 30px;
  }
}